<% content_for :head do %>
  <meta http-equiv="description" name="description" content="rendered :text is a software consulting team that provides web application development services." />
  <meta http-equiv="keywords" name="keywords" content="rendered :text, ruby, rails, web application, development, consulting" />

  <title>rendered :text - ruby and rails consulting</title>
<% end %>

<h2>
  We are a software consulting team that provides
  web application development services.
</h2>

<p>
We specialize in building applications with the
<%= link_to "Ruby on Rails", "http://rubyonrails.org", :rel => "external" %>
framework and work close with our clients to deliver high quality software
through short iterations.
<%= link_to "Learn more", "/services" %>.
</p>

<p>
  Our latest blog post is <%= link_to(@post.title, @post) %>.
</p>
