<% content_for :head do %>
  <title> Services provided by Rendered Text </title>
<% end %>

<h2>Services</h2>

<p>
<strong>
  By hiring us, you buy the time of two young and enthusiastic
  developers passionate about writing software.
</strong>
</p>

<hr>

<h3>Consulting</h3>

<p>
Our mission is to provide a full range of web application development
consulting services - planning and design, development, maintainance,
deployment and support.
</p>

<p>
We use an iterative software development process and prefer to be in a
constant touch with our clients, to insure a succesful launch of the
built web application. And after it goes live, we'll be around for
the next phase.
</p>

<p>
We care about usability of products we develop, and like to
team up with <a href="http://sprawsm.com">Superawesome guys</a> who
are great at modern web design and usability.
Therefore with our partners we can take care of all aspects of your
product, including design and branding.
</p>

<p>
We bill by the hour, not per-project. We believe that this is the
method that ensures enough flexibility in the development cycle, the
right amount of documentation, communication and money spent - a most
probable win-win solution.
</p>

<hr>

<h3>Some bits we're good at and care about</h3>

<ul>
  <li>
    <strong>Mash-ups</strong> - we have experience with connecting applications
    to major web services such as YouTube, Flickr and Google Maps
  </li>
  
  <li>
    <strong>Ajax</strong> - we like our applications to be naturally responsive
    and a pleasure to use
  </li>
  
  <li>
    <strong>Data portability</strong> - we wrap data up in microformats
    and encourage people to introduce themselves with OpenID
  </li>
</ul>
