<% content_for :head do %>
  <title> Rendered Text Team </title>
<% end %>

<h2>Team</h2>

<div class="bio">
  <%= image_tag 'marko.jpg', :alt => "Marko Anastasov", :size => "60x60" %>
  <h4> Marko Anastasov </h4>

  <p>
  Marko likes to take part in the open source community, writing applications
  for the Gnome Linux desktop and contributing to its' development libraries.
  </p>
</div>

<div class="spacer-10"></div>

<div class="bio">
  <%= image_tag 'darko.jpg', :alt => "Darko Fabijan", :size => "60x60" %>
  <h4> Darko Fabijan </h4>
  <p>
  Darko first began by experimenting with OpenGL and 3D modelling scripts
  and later worked for over a year as a researcher in the field of music
  analysis.
  </p>
</div>

<div class="spacer-10"></div>

<p> We are located in Novi Sad, Serbia. </p>
